<template>
  <div class="page-header">
    <h3>Регистрация</h3>
  </div>
</template>

<script>
export default {
  name: 'PageHeader',

  data: () => ({

  }),
};
</script>

<style lang="scss" scoped>
  .page-header {
    width: 100%;
    padding: 17px 31px;
    color: black;
    background-color: white;
    border-bottom: 1px solid #D9D9D9;
    h3 {
      font-size: 19px;
      font-weight: 700;
      line-height: 27px;
    }
  }
</style>
