<template>
  <div class="registration-form">
    <div
      v-if="sentData"
      class="wrap"
    >
      <v-alert
        class="registration-form__success"
        color="#3586FF"
        elevation="4"
        prominent
        type="success"
      >
        Регистрация успешно завершена
      </v-alert>
    </div>
    <div v-if="!sentData">
      <div class="wrap">
        <h4 class="registration-form__header">
          Заполните Ваши данные
        </h4>
        <v-form
          ref="form"
          v-model="valid"
          lazy-validation
          class="form"
          @submit.prevent='sendForm'
        >
          <div class="form__row">
            <v-text-field
              v-model.trim="name"
              class="form__text-field"
              :rules="rules.nameRules"
              label="Имя"
              outlined
            />
            <v-text-field
              v-model.trim="email"
              class="form__text-field"
              :rules="rules.emailRules"
              label="E-mail"
              outlined
            />
          </div>
          <div class="form__row justify-end">
            <v-select
              v-model="position"
              class="form__select"
              item-text="name"
              :items="positions"
              :rules="rules.positionRules"
              label="Должность"
              outlined
              return-object
            />
          </div>
          <div class="form__row">
            <v-text-field
              label="Пароль"
              v-model.trim="password"
              class="form__text-field"
              :append-icon="showPassword ? 'mdi-eye-off-outline' : 'mdi-eye-outline'"
              :type="showPassword ? 'text' : 'password'"
              :rules="rules.passwordRules"
              @click:append="showPassword = !showPassword"
              outlined
            />
            <v-text-field
              label="Повторите пароль"
              v-model.trim="repeatPassword"
              class="form__text-field"
              :append-icon="showRepeatPassword ? 'mdi-eye-off-outline' : 'mdi-eye-outline'"
              :type="showRepeatPassword ? 'text' : 'password'"
              :rules="rules.repeatPasswordRules"
              @click:append="showRepeatPassword = !showRepeatPassword"
              outlined
            />
          </div>
        </v-form>
      </div>
      <div class="wrap">
        <div class="switch d-flex align-start">
          <div
            class="switch__btn"
            :class="{'switch-on': profilePublic}"
            @click="handleClick"
            @keydown="handleKeyDown"
            tabindex="0"
          />
          <div class="d-flex flex-column">
            <span class="switch__label">
              Хотите чтобы Ваш профиль видели другие участники платформы?
            </span>
            <span class="switch__condition">
              Включает профиль для просмотра другими пользователями по ссылке
            </span>
          </div>
        </div>
        <div class="d-flex align-center justify-space-between">
          <div class="d-flex align-baseline">
            <v-checkbox
              v-model="checkAgreement"
              :rules="rules.checkboxRules"
              required
            />
            <span class="checkbox__label">
              Регистрируясь, Вы соглашаетесь с
              <a href="#" class="checkbox__label-link"> политикой конфиденциальности</a>
              и обработкой
              <a href="#" class="checkbox__label-link">персональных данных</a>
            </span>
          </div>
          <v-btn
            type="submit"
            width="300"
            height="40"
            class="submit-button ml-2"
            :disabled="$v.$invalid"
            elevation="0"
            @click="sendForm"
          >
            Зарегистрироваться
          </v-btn>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {
  required, minLength, maxLength, sameAs, email,
} from 'vuelidate/lib/validators';

export default {
  data: () => ({
    responseData: null,
    sentData: false,
    valid: true,
    name: '',
    email: '',
    position: null,
    positions: [
      { value: 1, name: 'Администратор' },
      { value: 2, name: 'Менеджер' },
      { value: 3, name: 'Аналитик продаж' },
      { value: 4, name: 'Маркетолог' },
      { value: 5, name: 'SEO-специалист' },
    ],
    password: '',
    repeatPassword: '',
    showPassword: false,
    showRepeatPassword: false,
    profilePublic: true,
    checkAgreement: true,

  }),
  validations: {
    name: {
      maxLength: maxLength(15),
      required,
    },
    email: {
      required,
      email,
    },
    position: {
      required,
    },
    password: {
      minLength: minLength(6),
      required,
    },
    repeatPassword: {
      minLength: minLength(6),
      sameAsPassword: sameAs('password'),
      required,
    },
    checkAgreement: {
      sameAs: sameAs(() => true),
    },
  },
  computed: {
    rules() {
      return {
        nameRules: [
          () => this.$v.name.required || 'Введите имя',
          () => this.$v.name.maxLength || 'Имя должно содержать менее 15 символов',
        ],
        emailRules: [
          () => this.$v.email.required || 'Введите E-mail',
          () => this.$v.email.email || 'Введите корректный E-mail',
        ],
        positionRules: [
          () => this.$v.position.required || 'Выберите должность',
        ],
        passwordRules: [
          () => this.$v.password.required || 'Введите пароль',
          () => this.$v.password.minLength || 'Слишком маленький пароль',
        ],
        repeatPasswordRules: [
          () => this.$v.repeatPassword.required || 'Повторите пароль',
          () => this.$v.repeatPassword.minLength || 'Слишком маленький пароль',
          () => this.$v.repeatPassword.sameAsPassword || 'Пароли не совпадают',
        ],
        checkboxRules: [
          () => this.$v.checkAgreement.sameAs || '',
        ],
      };
    },
  },
  methods: {
    handleClick() {
      this.profilePublic = !this.profilePublic;
    },
    handleKeyDown(event) {
      if (event.keyCode === 13 || event.keyCode === 32) {
        this.handleClick();
      }
    },
    async sendForm() {
      try {
        await this.$http.post('/url', {
          public: this.profilePublic,
          username: this.name,
          role: this.position.value,
          email: this.email,
          password: this.password,
          password_repeat: this.repeatPassword,
        }).then((response) => console.log(response));
      } catch (error) {
        // моделирем успешную отправку данных не в then, а в cath,
        //  так как отсутствует url для отправки данных
        this.sentData = true;
        console.error('Ошибка при отправке данных:', error);
      }
    },
  },
};
</script>

<style lang="scss" scoped>
  .registration-form__success {
    font-weight: 500;
  }
  .registration-form__header {
    margin-bottom: 34px;
    font-size: 16px;
    line-height: 19px;
  }
  .form {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
  .form__row {
    display: flex;
    justify-content: space-between;
    column-gap: 14px;
    .form__text-field {
      flex: 1 0 auto;
      width: calc((100% - 14px)/2);
    }
    .form__select {
      flex: 0 0 auto;
      width: calc((100% - 14px)/2);
    }
  }
  .switch {
    column-gap: 10px;
    margin-bottom:20px;
    &__label {
      color: black;
      font-weight: 500;
    }
    &__condition {
      font-size: 14px;
      line-height: 19px;
    }
    &__btn {
      display: inline-block;
      width: 40px;
      height: 21px;
      border-radius: 19px;
      background: #D9D9D9;
      z-index: 0;
      margin: 0;
      padding: 0;
      border: 1px solid #D9D9D9;
      cursor: pointer;
      position: relative;
      transition-duration: 300ms;
    }
    &__btn::after {
      content: "";
      height: 19px;
      width: 19px;
      border-radius: 50%;
      background: #fff;
      top: 0px;
      left: 0px;
      transition-duration: 300ms;
      position: absolute;
      z-index: 1;
    }
  }
  .checkbox__label {
    display: inline-block;
    font-size: 14px;
    line-height: 19px;
    &-link {
      text-decoration: none;
    }
  }
  .wrap:last-of-type {
    border-top: 1px solid #D9D9D9;
    padding-top:23px;
  }
  .switch-on {
    background: #3586FF;
  }
  .switch-on::after {
    left: 20px;
  }
  .submit-button {
    border-radius: 8px;
    color: rgb(74, 122, 217) !important;
    background-color: rgba(74, 122, 217, 0.2) !important;
    font-size: 12px;
    letter-spacing: -0.1px;
    text-transform: none !important;
  }
  .v-form ::v-deep .v-input__slot {
    min-height: 39px !important;
    border-radius: 11px;
    .v-label {
      top: 10px;
    }
  }
  .v-form ::v-deep .v-input__append-inner {
    margin-top: 7px !important;
  }
  .v-form ::v-deep .v-select__slot {
    min-height: 39px !important;
  }
  .v-form ::v-deep .v-select__selections {
    padding: 0 !important;
    }
  ::v-deep .theme--light.v-text-field--outlined:not(.v-input--is-focused):not(.v-input--has-state)
  > .v-input__control
  > .v-input__slot
  fieldset {
    border-color: #D9D9D9;
  }
</style>
