<template>
  <v-app>
    <v-main>
      <PageHeader/>
      <RegistrationForm/>
    </v-main>
  </v-app>
</template>

<script>
import PageHeader from './components/PageHeader.vue';
import RegistrationForm from './components/RegistrationForm.vue';

export default {
  name: 'App',

  components: {
    PageHeader,
    RegistrationForm,
  },

  data: () => ({
    //
  }),
};
</script>

<style lang="scss">
 * {
  font-family: 'Montserrat', sans-serif;
 }
 .wrap {
  width: 100%;
  padding: 17px 31px;
 }
</style>
